  <div class="row">
     <div class="col-md-12 green front top first">
     	<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
     	<h1>Accounting</h1>
     </div>
     	<div class="sub sub1">
     		<div class="col-md-3 orange front inner sub1-1">
     			<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
     			<h1>Cash Manage</h1>
     			<p>Manage your business' cash flow</p>
    		</div>
    		<div class="col-md-3 red front inner sub1-2">
    			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
     			<h1>Ledger</h1>
     			<p>Manage and records your general ledger</p>
    		</div>
    		<div class="col-md-3 purple front inner sub1-3">
    			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
     			<h1>Budgeting</h1>
     			<p>Budget and plan business expenses</p>
    		</div>
    		<div class="col-md-3 violet front inner sub1-4">
    			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
     			<h1>Bookkeeping</h1>
     			<p>Handle all your bookkeeping needs</p>
    		</div>
    	</div>
     <div class="col-md-12 blue front top second">
     	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
     	<h1>Human Resources</h1>
     </div> 
        <div class="sub sub2">
     		<div class="col-md-3 green front inner sub2-1">
     			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
     			<h1>Payroll</h1>
     			<p>Pay your employees and handle paycheck records</p>
    		</div>
    		<div class="col-md-3 purple front inner sub2-2">
    			<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
    	 		<h1>Recruiting</h1>
    	 		<p>Create job postings across the web to find the best candidates</p>
    		</div>
    		<div class="col-md-3 violet front inner sub2-3">
    			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    	 		<h1>Training</h1>
    	 		<p>Create comprehensive training courses for your employees</p> 
    		</div>
   		 	<div class="col-md-3 orange front inner sub2-4">
   		 		<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
   		  		<h1>Scheduling</h1>
   		  		<p>Schedule appointments, shifts and events</p>
    		</div>
    	</div>
     <div class="col-md-12 red front top third">
     	<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
     	<h1>Sales & Marketing</h1>
     </div>
     	<div class="sub sub3">
     		<div class="col-md-3 blue front inner sub2-1">
     			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
     			<h1>CRM</h1>
     			<p>Manage customer relationships</p>
    		</div>
    		<div class="col-md-3 violet front inner sub2-2">
    			<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
     			<h1>Advertising</h1>
     			<p>Create ads, send email lists and manage social media</p>
    		</div>
    		<div class="col-md-3 green front inner sub2-3">
    			<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
     			<h1>Processing</h1>
     			<p>Accept credit cards for payment</p>
    		</div>
    		<div class="col-md-3 purple front inner sub2-4">
    			<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
     			<h1>Reputation</h1>
     			<p>Manage customer feedback</p>
    		</div>
    	</div>
     <div class="col-md-12 orange front top fourth">
     	<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
     	<h1>Production</h1>
     </div>
        <div class="sub sub4">
     		<div class="col-md-3 red front inner sub4-1">
     			<span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
     			<h1>Inventory</h1>
     			<p>Manage inventory and orders</p>
    		</div>
    		<div class="col-md-3 green front inner sub4-2">
    			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
     			<h1>Shipping</h1>
     			<p>Place and track shipments throughout the world</p> 
    		</div>
    		<div class="col-md-3 blue front inner sub4-3">
    			<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
     			<h1>Pricing</h1>
     			<p>Manage prices on all your products including sales and discounts</p>
     		</div>
    		<div class="col-md-3 violet front inner sub4-4">
    			<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
     			<h1>Planning</h1>
     			<p>Create a roadmap for your business' future</p>
    		</div>
    	</div>
  </div>
